[submodule "pkg/json-fortran"]
	path = pkg/json-fortran
	url = https://github.com/jacobwilliams/json-fortran.git
[submodule "pkg/geoKdTree"]
	path = pkg/geoKdTree
	url = https://github.com/travissluka/geoKdTree.git
