#atmospheric observations
1100  atm_ps   mb    surface pressure
1210  atm_t    K     temperature
1220  atm_q    g/g   specific humidity
1250  atm_u    m/s   zonal wind
1251  atm_v    m/s   meridional wind

#ocean observations
2100  ocn_ssh  ?     sea surface height
2110  ocn_sst  ?     sea surface temperature
2120  ocn_sss  ?     sea surface salinity
2210  ocn_t    C     ocean potential temperature
2220  ocn_s    PSU   ocean salinity
2250  ocn_u    m/s   ocean zonal current
2251  ocn_v    m/s   ocean meridional currents